@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
text-align: center;
font-family: Source Sans Pro;
background-color: #eee;
color: black;
}

p {
color: black;
text-align: left;
padding: 10px;
}

.date {
padding: 1em 0 0 1em;
text-align: left;
font-family: Source Sans Pro ;
}

a {
color: #777;
text-decoration: none;
}

a:hover{
color: #dd3232;
text-decoration: none;
}


main {
width: 95%;
margin: auto;
border: 1px #eee;
border-style: none none solid none;
}


h1{
margin: auto;
padding-bottom: 15px;
font-family: Abril Fatface;
text-align: center;
font-size: 40px;
}

h2{
margin-bottom: -10px;
text-align: left;
font-family: Roboto Slab;
color: black;
}

h4 {
text-align: left;
}

h5 {
font-family: Roboto Slab;
font-weight: 700;
color: #dd3232;
text-align: left;
}

img {
width: 100%;    
}

.newspaper-container {
width: 700px;
margin: auto;
border-radius: 10px;
background-color: white;
box-shadow: 5px 5px 5px #ddd;
}

section {
padding: 10px;
display: inline-block;
width: 300px;
}


ul {
background-color: white;
width: 95%;
margin: auto;
padding: 0;
list-style: none;
text-align: center;
border: 1px #eee;
border-style: solid none solid none;
}

li {
padding: 5px;
display: inline-block;
}

.header {
position: sticky;
top: 0;
}